@model Measure.ViewModels.Dashboard.ViewResponsePartial
<table class="table table-striped" style="width:100%" id="TblLista">
    <thead>
        <tr>
            <th class="text-center">
                Analisis&nbsp;&nbsp;<input type="checkbox" id="allCheckC" onclick="seleccionarTodo('TblLista','allCheckC');">&nbsp;&nbsp;Todos
            </th>
            <th>Correo</th>
            <th>Nombres - Apellidos</th>
            <th>Fecha Respuesta</th>
            <th style="width: 10%;">Pais</th>
            <th style="width: 10%;">Sucursal</th>
            <th style="width: 10%;">Gerencia</th>
            <th style="width: 10%;">Rol</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="6" class="text-center">No hay registros</td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Encuestados)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" onchange="DeseleccionarFila(this,0)" />
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Correo)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombres)  @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.FechaRespuesta)</td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <div class="input-container">
                            <input type="text" class="inptext gerencia" autocomplete="off" data-id="@item.Id" onblur="onBlur(this);" onkeyup="OnKeyUp(this);" />
                            <span class="suggestion" id="gerencia_@item.Id"></span>
                        </div>
                    </td>
                    <td>
                        <div class="input-container">
                            <input type="text" class="inptext rol" autocomplete="off" data-id="@item.Id" onblur="onBlur(this);" onkeyup="OnKeyUp(this);" />
                            <span class="suggestion" id="rol_@item.Id"></span>
                        </div>
                    </td>
                </tr>

            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Analisis</th>
            <th>Correo</th>
            <th>Nombres - Apellidos</th>
            <th>Fecha Respuesta</th>
            <th>Gerencia</th>
            <th>Rol</th>
        </tr>
    </tfoot>
</table>