@model Measure.ViewModels.Dashboard.ViewAnaliticSquare

@{
    ViewBag.Title = "Generar Analisis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card-header">@Model.TituloGeneral</div>
    </div>
</div>
<div class="row mt-4">
    @if (Model.CuadroUno != null)
    {
        foreach (var Cuadro in Model.CuadroUno)
        {
            <div class="col-12 col-md-6">
                <div id="@Cuadro.Id"></div>
            </div>
        }
    }
    @if (Model.CuadroDos != null)
    {
        <div class="col-12 col-sm-6">
            <div id="GeneralPais"></div>
        </div>
        <div class="col-12 col-sm-6">
            <div id="GeneralSucursal"></div>
        </div>
        foreach (var item in Model.CuadroDos.GrafBase)
        {
            <div class="col-12 col-md-6">
                <div id="@item.Id"></div>
            </div>
        }
    }
</div>

@section styleFoot{
    @Styles.Render("~/Content/apx")
}
@section scripts{
    <script src="~/Scripts/apexcharts/Init.js"></script>
    <script type="text/javascript">
        var Data = Array();
    </script>
    @if (Model.CuadroUno != null)
    {
        foreach (var Cuadro in Model.CuadroUno)
        {
            <script type="text/javascript">
            Data.push({
                'tittle': '@Html.Raw(Cuadro.Titulo)',
                'series': @Html.Raw(Json.Encode(Cuadro.Series)),
                'categories': ("@Html.Raw(string.Join("|", Cuadro.Categories))").split('|'),
                'querySelector': '#@Cuadro.Id'
            });
            </script>
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $.each(Data, function (pos, item) {
                    if (item.series.length > 0) {
                        Radar(item.tittle, item.series, item.categories, item.querySelector);
                    }
                });
            });
        </script>
    }
    @if (Model.CuadroDos != null)
    {
        <script type="text/javascript">
            Pie('General Pais', ('@Html.Raw(string.Join("|", Model.CuadroDos.GenPais.Data))').split('|'), ("@Html.Raw(string.Join("|", Model.CuadroDos.GenPais.Labels))").split('|'), "#GeneralPais");
            Pie('General Sucursal', ('@Html.Raw(string.Join("|", Model.CuadroDos.GenSucursal.Data))').split('|'), ("@Html.Raw(string.Join("|", Model.CuadroDos.GenSucursal.Labels))").split('|'), "#GeneralSucursal");
        </script>
        foreach (var item in Model.CuadroDos.GrafBase)
        {
            <script type="text/javascript">
                ColumnasBasicas("@item.Titulo","@item.Titulo", ('@Html.Raw(string.Join("|", item.Series))').split('|'), ("@Html.Raw(string.Join("|", item.Labels))").split('|'), null, "#@item.Id")
            </script>
        }
    }
}