@model Measure.ViewModels.Usuario.ViewUsuario

<div>
    <dl class="dl-horizontal">       
        <dt>
            <strong> @Html.DisplayNameFor(model => model.Modelo.Nombres)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo.Nombres)
        </dd>
        @if (Model.Modelo.RolId == (int)Measure.Enums.UserRol.Encuestado)
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Modelo.Apellidos)</strong>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modelo.Apellidos)
            </dd>
        }
        @if (Model.Modelo.RolId == (int)Measure.Enums.UserRol.Encuestado)
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Modelo.Telefono)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modelo.Telefono)
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Modelo.Imagen))
        {
            <dd>
                <img src="@Model.Modelo.Imagen" class="img-thumbnail" width="50" height="50" />
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Modelo.PaisId.ToString()))
        {
            <dt>
                <strong>@Html.DisplayNameFor(model => model.Modelo.Pais)</strong>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Modelo.Pais)
            </dd>
        }

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Modelo.Estado)</strong>
        </dt>

        <dd>
            @if (Model.Modelo.Estado)
            {
                @Measure.Recursos.Recurso.EstadoActivo
            }
            else
            {
                @Measure.Recursos.Recurso.EstadoInactivo
            }
        </dd>

    </dl>
</div>
