@using Measure.ViewModels.Usuario
@model ViewUsuario
@{
    ViewBag.Title = "Aliados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    @Styles.Render("~/Content/tables")
    @Styles.Render("~/Content/select2")
}
@section scriptsHead{
    @Scripts.Render("~/bundles/tables")
    @Scripts.Render("~/bundles/select2")
}
<div class="container">
    <div class="row">
        <div class="d-flex align-items-center p-2 my-2 text-white rounded shadow-sm custom-backgroun-2">
            <img class="me-3" src="@Url.Content("~/Content/images/Icono.png")" width="48">
            <div class="lh-1">
                <h1 class="h3 mb-0 text-white lh-1">@ViewBag.BtnCreate</h1>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 d-flex justify-content-between align-items-center">
            <div>
                @using (Html.BeginRouteForm("Aliado", FormMethod.Post))
                {
                    <input type="hidden" name="Accion" value="0" />
                    <input type="hidden" name="Modelo.ClienteId" value="@Model.Modelo.ClienteId" />
                    <input type="hidden" name="Modelo.AliadoId" value="@Model.Modelo.AliadoId" />
                    <button class="btn btn-primary btn-sm rounded-pill py-0" type="submit"><i class="bi-plus-circle"></i> Crear @ViewBag.Title</button>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12">
            <div>
                <table class="table table-striped" style="width:100%" id="TblLista">
                    <thead>
                        <tr>
                            <th>
                                Correo
                            </th>
                            <th>
                                Nombres
                            </th>
                            <th>
                                Idioma
                            </th>
                            <th>
                                Estado
                            </th>
                            <th class="text-center">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Lista.Count() > 0)
                        {
                            foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombres)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NombreIdioma)
                                    </td>
                                    <td>
                                        @if (item.Estado)
                                        {
                                            @Measure.Recursos.Recurso.EstadoActivo
                                        }
                                        else
                                        {
                                            @Measure.Recursos.Recurso.EstadoInactivo
                                        }
                                    </td>
                                    <td class="text-center">
                                        <div class="row">
                                            <div class="col-12 col-lg-4">
                                                @using (Html.BeginRouteForm("Aliado", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="Modelo.Correo" value="@item.Correo" />
                                                    <input type="hidden" name="Accion" value="2" />
                                                    <input type="hidden" name="Modelo.RolId" value="@item.RolId" />
                                                    <button class="btn btn-secondary btn-sm rounded-pill py-0 editLink" type="submit">Editar</button>
                                                }
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <a class="btn btn-info btn-sm rounded-pill py-0 editLink" onclick="Detalles('@item.Id')">Detalles</a>
                                            </div>
                                            <div class="col-12 col-lg-4">
                                                <a class="btn btn-danger btn-sm rounded-pill py-0 editLink" onclick="Eliminar('@item.Id','@item.Correo')">Eliminar</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Delete", "Usuario", FormMethod.Post, new { id = "UserDelete" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Id" id="DeleteUser" value="" />
}
@section ModalSection{
    <div class="modal fade" tabindex="-1" id="UserModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle Usuario</h5>
                    <button type="button" class="btn-close" onclick="CloseModal('UserModal')"></button>
                </div>
                <div class="modal-body" id="CrearOEditar"></div>
            </div>
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            LoadDataTable("TblLista", false, true, null, 10);
        })

        function Detalles(Id) {
            $.ajax({
                url: '@Url.Action("Detail", "Usuario")',
                dataType: 'html',
                method: 'Post',
                data: { Data: { Modelo: { 'Id': Id } } },
                success: function (result) {
                    $("#CrearOEditar").html('').html(result);
                    ShowModal("UserModal");
                },
                error: function (Error) {
                    console.log(Error);
                }
            });
        }

        function Eliminar(Id,Correo) {
            Swal.fire({
                title: '¿Estas seguro?',
                text: "Desea eliminar el aliado de correo " + Correo,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No',
                confirmButtonText: 'Sí, bórralo'
            }).then((result) => {
                if (result.value) {
                    $("#DeleteUser").val(Id);
                    Swal.fire(
                        'Exito!',
                        'Tu registro ha sido eliminado.',
                        'success'
                    )
                    $("#UserDelete").submit();
                }
            });
        }
    </script>
}