@model Measure.ViewModels.Analitic.ViewAnalitic

<div>
    <h4>Analitica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoParametroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoParametroId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Variable2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Variable2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMaximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMaximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alcance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alcance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionMatematica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionMatematica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dimensiones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dimensiones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalificacionConceptual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalificacionConceptual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MadurezMatematica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MadurezMatematica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MadurezConceptual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MadurezConceptual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionRiesgos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionRiesgos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionActividadesEm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionActividadesEm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionActividadesMa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionActividadesMa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TituloGrafico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloGrafico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubTituloGrafico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubTituloGrafico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

    </dl>
</div>